<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardgamesuiteapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGameSuiteApp"
        android:usesCleartextTraffic="true">
        <activity android:name="app.gameCollectionMainMenu.DisplaySettingsActivity" />
        <activity android:name="app.games.Fives" />
        <activity android:name="app.gameCollectionMainMenu.DisplayFivesRulesActivity" />
        <activity android:name="app.gameCollectionMainMenu.DisplayFivesSettingsActivity" />
        <activity android:name="app.games.Solitaire" />
        <activity android:name="app.gameCollectionMainMenu.DisplaySolitaireRulesActivity" />
        <activity android:name="app.gameCollectionMainMenu.DisplaySolitaireSettingsActivity" />
        <activity android:name="app.singlePlayerMenus.FivesSinglePlayerMenu" />
        <activity
            android:name="app.MultiplayerConnection.MultiplayerWaitingRoomActivity"
            android:label="@string/title_activity_multiplayer_waiting_room"
            android:parentActivityName="app.MultiplayerConnection.MultiplayerOrSinglePlayerMenu" />
        <activity
            android:name="app.MultiplayerConnection.MultiplayerOrSinglePlayerMenu"
            android:label="@string/app_name" />
        <activity
            android:name="app.gameCollectionMainMenu.DisplayMainPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>